@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-track: #f8fafc; /* slate-50 */
    --scrollbar-thumb: #06b6d4; /* cyan-500 */
    --scrollbar-thumb-hover: #0891b2; /* cyan-600 */
}

.dark {
    --scrollbar-track: #0f172a; /* slate-900 */
}

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}